body {
  font-size: 14px;
  color: #333;
  background-color: #f9f9f9;
  letter-spacing: 1px;
}

.container {
  min-width: 100%;
  background-color: #f9f9f9;
}

#navigation img {
  height: 50px;
  width: 200px;
}

#headerImg {
  height: 700px;
  background: url('../img/lake.jpg') no-repeat center center fixed;
  text-align: center;
  background-size: cover;
  max-width: 100%;
  max-height: 100%;
}

#sneakeryLogo img {
  margin-top: 100px;
}

#about {
  margin-top: 20px;
}
